<html>
<head>
	<title>Show</title>
</head>
<body>		
	<a href ="http://localhost:9393/">Home</a>

	<h2>View Question</h2>

	<p><h3>Question <%= @question.id %></h3></p>

	<p><h3><%= @question.title %></h3></p>


<!-- EDIT FORM AND ACTION -->
	<table>
		<th>
		<form id ="edit" method ="GET" action = '/questions/<%= @question.id %>/edit'>
		<input type="submit" value="EDIT">
		</form>
		</th>

<!-- DELETE BUTTON AND ACTION -->
		<th>
		<form action="/questions/<%= @question.id%>" method="post">
	  	<input type="hidden" name="_method" value="DELETE">
	  	<input type="submit" value="DELETE">
		</form>
		</th>

		<!-- VOTE UP -->
		<th>
		<form>
		<input type="submit" value="UP"></th>
	    </form>
		</th>

		<!-- VOTE DOWN -->
		<th>
		<form>
		<input type="submit" value="DOWN"></th>
	    </form>
		</th>

	</table>

	<form id ="edit" method ="GET" action = '/questions/<%= @question.id %>/reply'>
		<input type="submit" name="REPLY" value = "REPLY">
	</form>


</body>
</html>


<!-- PREVIOUSLY WORKING CODE -->
<!-- EDIT FORM AND ACTION -->
	<!-- <form id ="edit" method ="GET" action = '/questions/<%= @question.id %>/edit'>
	<input type="submit" value="EDIT">
	</form>
	<br>
 -->
<!-- DELETE BUTTON AND ACTION -->
	<!-- <form action="/questions/<%= @question.id%>" method="post">
  	<input type="hidden" name="_method" value="DELETE">
  	<input type="submit" value="DELETE">
	</form>
	<br> -->



